@import "tailwindcss";

@theme {
  --color-mono-50: light-dark(rgb(250 250 250), rgb(10 10 10));
  --color-mono-100: light-dark(rgb(245 245 245), rgb(23 23 23));
  --color-mono-200: light-dark(rgb(229 229 229), rgb(38 38 38));
  --color-mono-300: light-dark(rgb(212 212 212), rgb(64 64 64));
  --color-mono-400: light-dark(rgb(163 163 163), rgb(82 82 82));
  --color-mono-500: rgb(115 115 115);
  --color-mono-600: light-dark(rgb(82 82 82), rgb(163 163 163));
  --color-mono-700: light-dark(rgb(64 64 64), rgb(212 212 212));
  --color-mono-800: light-dark(rgb(38 38 38), rgb(229 229 229));
  --color-mono-900: light-dark(rgb(23 23 23), rgb(245 245 245));
  --color-mono-950: light-dark(rgb(10 10 10), rgb(250 250 250));
}

@layer base {
  :root {
    color-scheme: light dark;
  }

  /* Manual Overrides */
  html[data-theme="light"] {
    color-scheme: light;
  }

  html[data-theme="dark"] {
    color-scheme: dark;
  }
}
